.btn{
  font-size: 1em;
  background-color: #222;
  color: #fff;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition:  .3s;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  
}

.btn:hover{
  transition: .3s;
  transform: scale(1.1);
  color: #ffbb33;
}
