.newproject_container{
  width: 450px;
  margin: 0 auto;
  padding: 3em;

  background-image: url('../../img/rocket.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 15rem;
}

.newproject_container h1{
  margin-bottom: .5em;
}

.newproject_container p{
  color: #7b7b7b;
}